<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Главная</title>

</head>
<body>
    <th:block th:insert="fragments/header.html :: header"/>

    <div class="container" style="padding-top: 4%">
        <div class="row">
            <div class="col-md-6" style="text-align: center">
                <h4 style="color: white"> Название тура:
            <div th:text="${tour.tourName}"></div></h4>
            </div>

            <div class="col-md-6" style="text-align: center">
                <div class="card text-center bg-light mb-3" style="width: 35rem; background-color: aliceblue">
                    <div class="card-body">
                        <h6>Описание: <span class="card-title" th:text="${tour.description}"></span></h6>
                        <h6>Тип:<span class="card-text" th:text="${tour.typeOfTour}"></span></h6>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <a th:href="@{/add/in/basket/{uid}(uid=${tour.id})}" class="btn btn-success btn-xs"
                           sec:authorize="hasRole('USER')">В корзину</a>
                        <a th:href="@{/admin/delete/{uid}(uid=${tour.id})}" class="btn btn-success btn-xs"
                           sec:authorize="hasRole('ADMIN')">Удалить</a>
                        <a th:href="@{/admin/edit/{uid}(uid=${tour.id})}" class="btn btn-success btn-xs"
                           sec:authorize="hasRole('ADMIN')">Изменить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>