<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid">
            <div class="col-md-6">
                <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                    <input class="btn btn-error btn-md navBarClass pull-right" type="submit" value="Выйти">
                </form><br>
            </div>
        </div>
    </footer>
</th:block>
</html>